h1{
    color:white;
    background: #4aaaa5;
}

.navbar-brand{
    height: 30px;
    position:fixed;
    background: #4aaaa5;
}

h3{
    color:#4aaaa5;
}

.navbar-toggler{
    padding: 20px;
}

img{
    height: 100%;
    weight: 100%;
}
.col-d-12{
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: white;
}

.tempplot {
    height: 50%;
    width: 50%;

}
.table{
    font-size: 15px;
    border-top-color:white;
}
.box{ 
    margin-top: 50 px;
    margin-bottom: 50px;
    background-color: white;
}
#navbarSupportedContent{
    position: relative;
}
@media(max-width:800px){
    .navbar{
        padding:inherit;
    }
}